<mat-card class="vote-card" (click)="onVote()">
  <ng-container *ngIf="pokemonDetails$ | async as pokemonDetails">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ pokemonDetails.name }}</mat-card-title>
        <img mat-card-xl-image [src]="pokemonDetails.sprites.front_default" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div>weigth: {{ pokemonDetails.weight }}</div>
      <div>height: {{ pokemonDetails.height }}</div>
    </mat-card-content>
  </ng-container>
</mat-card>
