<h1 class="mat-h1 header">Vote for your favorite Pokemon</h1>
<div>
  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  <div *ngIf="!isLoading" class="card-container">
    <app-vote-card
      *ngIf="firstPokemon"
      [pokemon]="firstPokemon"
      (vote)="onVote()"
    ></app-vote-card>
    <app-vote-card
      *ngIf="secondPokemon"
      [pokemon]="secondPokemon"
      (vote)="onVote()"
    ></app-vote-card>
  </div>
  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="paginatorLength"
    [pageSize]="pageSize"
    [showFirstLastButtons]="false"
    [hidePageSize]="false"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
